<p id="notice"><%= notice %></p>
<table class="table">

<p>
  <strong>Name:</strong>
  <%= @idea.name  %>
</p>

<p>
  <strong>Description:</strong>
  <%= @idea.description %>
</p>

<p>
  <strong>Picture:</strong>
<%= image_tag(@idea.picture_url, width: 600) if @idea.picture.present? %>



</p>
<p>
  <strong>Price:</strong>
  <%= @idea.price if @idea.price.present? %>



</p>
  <p>
    <strong>Price:</strong>
    <%= @idea.email if @idea.email.present? %>



  </p>
<p>  <%= link_to '查看高清大图', image_path(@idea.picture) %> </p>

  <h2>plans</h2>
  <%= render @idea.plans %>



  <h2>Add a plan:</h2>
  <%= render 'plans/form' %>


</table>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
